<CascadingValue Value="Placement">
    <div class="bubble-group @PlacementClass d-flex justify-@FlexPlacementClass flex-grow-1 gap-2">
        @if (Placement == ChatBubble.BubblePlacement.Left)
        {
            @Avatar
        }
        <div class="bubble-group-inner">
            <div class="bubble-group-content">
                @ChildContent
            </div>

            <div class="bubble-group-footer">
                @Footer
            </div>
        </div>
        @if (Placement == ChatBubble.BubblePlacement.Right)
        {
            @Avatar
        }
    </div>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment Avatar { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public RenderFragment Footer { get; set; } = null!;

    [Parameter]
    public ChatBubble.BubblePlacement Placement { get; set; }

    string FlexPlacementClass => Placement == ChatBubble.BubblePlacement.Left ? "start" : "end";

    string PlacementClass => $"bubble-group-{Placement.ToString().ToLower()}";
}