<div>
    <div style="@Style @(Placement == ChatBubble.BubblePlacement.Right ? "float: right" : string.Empty)" class="@BubbleStyle @Class">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [CascadingParameter]
    public BubblePlacement Placement { get; set; }

    [Parameter]
    public BubblePosition Position { get; set; } = BubblePosition.Middle;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    string BubbleStyle => $"bubble bubble-{Placement.ToString().ToLower()} bubble-{Placement.ToString().ToLower()}-{Position.ToString().ToLower()}";

    public enum BubblePlacement 
    {
        Left = 1,
        Right
    }

    public enum BubblePosition 
    {
        Top,
        Middle,
        Bottom
    }
}