@inherits LayoutComponentBase
@inject IDialogService DialogService

<MudLayout>
    <AppBar DrawerToggleCallback="DrawerToggle" />
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" DisableOverlay="true" Elevation="2" Variant="@DrawerVariant.Temporary">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body

        <div class="mt-4">
            <MudButton OnClick="ChangeLocale">Change locale</MudButton>
        </div>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    async Task ChangeLocale() 
    {
        var dialogRef = DialogService.Show<CultureSelector>("Change locale");
        await dialogRef.Result;
    }
}