@typeparam T

<CascadingValue Value="Placement">
    <div class="bubble-group @PlacementClass d-flex justify-@FlexPlacementClass flex-grow-1 gap-2">
        @if (Placement == ChatMessagePlacement.Left)
        {
            @Avatar
        }
        <div class="bubble-group-inner">
             @if (Header is not null)
             {
                <div class="bubble-group-header mt-1">
                    @Header
                </div>
             }

             <div class="bubble-group-content">
                @if(Content is not null) 
                {
                    @Content
                }
                else if(ContentTemplate is not null)
                {
                    @if(Message is not null) 
                    {
                        @ContentTemplate(Message!)
                    }
                    else if(Messages is not null) 
                    {
                        @foreach (var message in Messages)
                        {
                            @ContentTemplate(message!)
                        }
                    }
                }
            </div>

            @if (Footer is not null)
            {
                <div class="bubble-group-footer">
                    @Footer
                </div>
            }
        </div>
        @if (Placement == ChatMessagePlacement.Right)
        {
            @Avatar
        }
    </div>
</CascadingValue>

@code {
    [Parameter]
    public T? Message { get; set; }

     [Parameter]
    public IEnumerable<T>? Messages { get; set; }

    [Parameter]
    public RenderFragment Avatar { get; set; } = null!;

    [Parameter]
    public RenderFragment Content { get; set; } = null!;

    [Parameter]
    public RenderFragment<T> ContentTemplate { get; set; } = null!;
    
    [Parameter]
    public RenderFragment Header { get; set; } = null!;

    [Parameter]
    public RenderFragment Footer { get; set; } = null!;

    [Parameter]
    public ChatMessagePlacement Placement { get; set; }

    string FlexPlacementClass => Placement == ChatMessagePlacement.Left ? "start" : "end";

    string PlacementClass => $"bubble-group-{Placement.ToString().ToLower()}";
}