<div class="@Class message message-@(Position == MessagePosition.Right ? "right" : "left")" style="@Style">
    @if(Header is not null) 
    {
        <div class="message-header d-flex flex-row flex-grow-1 gap-4">
            <div>
                
            </div>
            <div>
                @Header
            </div>
        </div>
    }

    <div class="message-inner d-flex flex-row flex-grow-1 gap-4">
        @if(SideContent is not null && IsSideContentVisible) 
        {
            <div class="flex-none message-side">
                @SideContent
            </div>
        }
        <div class="message-content">
            <div class="bubble">
                @Content
            </div>
            @if(Overlay is not null) 
            {
                <div class="message-content-overlay">
                    @Overlay
                </div>
            }
        </div>
        <div class="flex-none message-side message-actions">
            <div class="message-actions-container">
                @Actions
            </div>
        </div>
    </div>

    @if(Footer is not null) 
    {
        <div class="message-footer d-flex flex-row flex-grow-1 gap-4">
            <div>

            </div>
            <div>
                @Footer
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public bool IsSideContentVisible { get; set; }

    [Parameter]
    public RenderFragment SideContent { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment Overlay { get; set; }

    [Parameter]
    public RenderFragment Actions { get; set; }

    [Parameter]
    public MessagePosition Position { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }
}